* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ced4da;
    font-family: 'Roboto', serif;
    font-style: normal;
}

#page-wrapper {
    position: relative;
}

/* Header & Nav */

#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: white;
    width: 100%;
}

#logo-img {
    width: 60vw;
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

nav {
    font-weight: 400;
}

#nav-bar, ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

li a:hover {
    color: #fb5607;
}

li {
    list-style: none;
}

/* Section / Hero */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 70px;
}

#hero h2 {
    margin-bottom: 20px;
    margin-top: 25px;
    word-wrap: break-word;
}

#submit {
    width: 140px;
    height: 30px;
    padding: 3px;
    border: 0;
    margin: -5px 0;
    background: orangered;
}

#submit:hover {
    background-color: #282b28;
    color: #ddd;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}

/* Content / Division */

#contents {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#features {
    margin-top: 100px;
    margin-left: 170px;
}

#grid {
    display: grid;
    margin: 0;
}

#features .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 125px;
    width: 20vw;
    color: black;
    margin: 0 0 -100px -300px;
}

#features .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 35vw;
    padding: 4px;
    text-align: justify;
    word-break: break-word;
}

#guide {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-video {
    margin-top: -50px;
    position: relative;
    font-size: 18px;
    z-index: -1;
    margin-bottom: 30px;
    justify-content: center;
    left: -30;
}

#bundle {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.product .kit {
    background-color: #8a817c;
    color: #000;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

#bundle h2 {
    font-size: 25px;
    color: #000;
}

#bundle h4 {
    color: #c1121f;
}

.product ol {
    margin: 15px 0;
    text-align: center;
}

.product ol {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

ol li {
    padding-left: 0 ;
    margin-left: 0;
    text-align: center;
}

.product button {
    border: 0;
    margin: 15px 0;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-2 {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px groove black;
    background-color: #fb5607;
}

.btn-2:hover {
    background-color: #333533;
    color: white;
}

footer {
    margin-top: 150px;
    background-color: #ddd;
    padding: 15px;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
}

footer ul li {
    padding: 0 10px;
}

footer ul li a {
    color: #000;
}

footer ul li a:hover {
    color: #5fa8d3;
}

footer span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 0.8em;    
}

span a {
    text-decoration: none;
}

footer p {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 0.8em; 
}

@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    #logo-img {
        margin-top: 5px;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 650px) {
    #logo-img img {
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    #nav-bar {
       display: none;
    }
}

@media(max-width: 650px) {
    #nav-bar ul {
        flex-direction: row;
        justify-content: space-between;
        
    }
}

@media (max-width: 650px) {
    #hero {
        margin-top: 100px;
    }
}

@media (max-width: 550px) {
    #features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon {
        display: none;
    }
}

@media (max-width: 550px) {
    #features .description {
        width: 100%;
        text-align: left;
        padding: 0%;
        height: 150px;
        margin-left: -88px;
        margin-top: 65px;
        word-spacing: -2px;
        word-break: break-all;
    }
    .description p {
        text-align: left;
        word-break: break-all;
        
    }
}

@media (max-width: 650px) {
    #features {
        margin-top: 50px;
    }
}

@media (max-width: 800px) {
    #bundle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product {
        width: 65vw;
    }
}

@media  (max-width: 650px) {
    footer ul {
        display: flex;
        flex-direction: column;
        font-size: 9px;
    }

    footer span {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    #guide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #guide iframe {
        width: 300px;
        height: 200px;
    }

    .text-video {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
